<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
    {%if name == "wolf" %}
    <h1>スペシャル{{name}}神社</h1>
    {%elif name%}
    <h1>{{name}}神社</h1>
    {%else%}
    <h1>只野神社</h1>
    {%endif%}
    <form action="/index" method="post">
        <input type="text" name="name2" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>
    <img src="/static/images/wolf.jpg" alt="wolf pic">
    {%for word in ok%}
    <p>{{word}}</p>
    {%endfor%}
    </body>
</html>